.about-img {
	background-image: url(./about_image.jpg);
	width: 100%;
	min-height: 30vh;
	background-position: center;
	background-size: cover;
}

.about {
	justify-content: space-around;
	min-height: 100vh;
}

.about section {
	width: 90%;
	align-self: center;
}

.about-form-wrapper {
	background-color: var(--highlight-muddy-orange);
	height: 20%;
	width: 60%;
	border-radius: 5px;
	font-size: larger;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem;
}

.button-container .option-button {
	min-width: 50%;
	margin-top: 1rem;
	line-height: 3em;
	font-size: small;
}
