.grid {
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100vw;
	justify-content: space-evenly;
	background-color: rgb(222, 222, 222);
	border: blue dotted 1px;
}

.grid-item {
	max-width: 45%;
	background-color: rgb(222, 222, 222);
	border: red dotted 1px;
}

.grid-item > img {
	max-width: 100%;
	object-fit: contain;
}
