.van-description {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.van-description-image-container {
	margin: 0;
	align-self: center;
	width: 90%;
}

.van-description-image-container > img {
	width: 100%;
	object-fit: contain;
}
