.option-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8%;
}

.vans-options-wrapper {
	display: flex;
	width: 70%;
	justify-content: space-between;
}

.vans > section {
	width: 95%;
}
.clear-filters {
	align-self: center;
	font-size: x-small;
	text-decoration: underline;
}

.grid-section {
	max-height: 75%;
}

section.loading {
	opacity: 0.25;
	transition: opacity 200ms;
	transition-delay: 200ms;
}
.vans h2 {
	margin: 4% 0;
	font-size: x-large;
}
