.list {
	display: flex;
	flex-direction: column;
}

.snippet {
	display: flex;
	background-color: azure;
	align-items: center;
	border: red dotted 1px;
}

/* TODO: create a wrapper for image and contain image in the wrapper */
.image-container {
	flex: 0 0 20%;
	margin: 0;
	border: red dotted 1px;
}

.image-container > img {
	max-width: 100%;
}

.snippet-content {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.snippet-name {
	font-size: x-large;
	font-weight: bold;
}

.vans-snippets-wrapper {
	flex: 1;
}
