/* <Link /> react router element is has an anchor HTML tag 
under the hood. accessible via CSS as regular a tag */
:root {
	--parent: dashed red;
	--child: dashed green;
	--grandchild: dashed purple;
	--charcoal: #36454f;
	--main: rgba(255, 235, 205, 0.8);
	--bright-orange: rgb(255, 172, 28);
}

body {
	background-color: var(--main);
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
}

nav {
	display: flex;
	width: 100vw;
	min-height: 10%;
	max-height: 25%;
	max-width: 100%;
	justify-content: space-between;
	align-items: center;
	border: var(--parent);
}

nav > a {
	border: var(--child);
	text-decoration: none; /*removes underline from link*/
}
nav > span > a {
	text-decoration: none;
}
nav > span {
	border: var(--child);
	width: 15vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

a:link {
	color: var(--charcoal);
}

a:visited {
	color: var(--charcoal);
}

a:hover {
	color: hotpink;
}

a:active {
	color: var(--main);
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 5rem;
	background-color: var(--charcoal);
	color: var(--main);
	text-align: center;
}

footer > span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
