.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.private {
	justify-content: flex-start;
	min-height: 3em;
}

.private nav {
	min-width: 60%;
}

.app nav {
	width: 30%;
}

.app {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 95vh;
}

.option-button {
	appearance: none;
	background-color: var(--highlight-cream);
	color: var(--charcoal);
	border: none;
	border-radius: 5px;
	box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
	cursor: pointer;
	display: inline-block;
	line-height: 2em;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	min-width: fit-content;
}

.option-button:focus:not(:focus-visible):not(.focus-visible) {
	box-shadow: none;
	outline: none;
}

.option-button:focus {
	box-shadow: rgba(164, 93, 46, 0.4) 0 0 0 30px;
	outline: none;
}

.option-button:disabled {
	background-color: #94d3a2;
	border-color: rgba(27, 31, 35, 0.1);
	color: rgba(255, 255, 255, 0.8);
	cursor: default;
}

.option-button:active {
	background-color: pink;
	box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.simple {
	background-color: var(--simple-button);
	color: white;
	box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.luxury {
	background-color: var(--luxury-button);
	color: white;
	box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.rugged {
	background-color: var(--rugged-button);
	color: white;
	box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

footer {
	position: absolute;
	bottom: -0.1%;
	width: 100%;
	line-height: 3rem;
	background-color: var(--charcoal);
	color: var(--main);
	text-align: center;
	font-size: x-small;
	min-height: 5vh;
}

footer > span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
